<a href="https://colab.research.google.com/github/sumunoh/study_weekend/blob/main/%EC%9E%91%EC%97%85%ED%98%951%EC%9C%A0%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/study_weekend/data/boston.csv')
data

        CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [ ]:
data.head(5)

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
data.sort_values(by='MEDV',ascending = True)

         CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
398  38.35180   0.0  18.10     0  0.693  ...  666     20.2  396.90  30.59   5.0
405  67.92080   0.0  18.10     0  0.693  ...  666     20.2  384.97  22.98   5.0
400  25.04610   0.0  18.10     0  0.693  ...  666     20.2  396.90  26.77   5.6
399   9.91655   0.0  18.10     0  0.693  ...  666     20.2  338.16  29.97   6.3
414  45.74610   0.0  18.10     0  0.693  ...  666     20.2   88.27  36.98   7.0
..        ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
166   2.01019   0.0  19.58     0  0.605  ...  403     14.7  369.30   3.70  50.0
195   0.01381  80.0   0.46     0  0.422  ...  255     14.4  394.23   2.97  50.0
283   0.01501  90.0   1.21     1  0.401  ...  198     13.6  395.52   3.16  50.0
225   0.52693   0.0   6.20     0  0.504  ...  307     17.4  382.00   4.63  50.0
186   0.05602   0.0   2.46     0  0.488  ...  193     17.8  392.63   4.45  50.0

[506 rows x 14 columns]

In [ ]:
data.sort_values(by='MEDV',ascending = True)['MEDV'].head(10)

398    5.0
405    5.0
400    5.6
399    6.3
414    7.0
489    7.0
401    7.2
385    7.2
415    7.2
387    7.4
Name: MEDV, dtype: float64

In [ ]:
data.isnull().sum()

CRIM        0
ZN          0
INDUS       0
CHAS        0
NOX         0
RM         15
AGE         0
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT       0
MEDV        0
dtype: int64

In [ ]:
data_mean = data['RM'].copy()

In [ ]:
data_mean.isnull().sum()

15

In [ ]:
data_mean.head(3)

0    6.575
1    6.421
2    7.185
Name: RM, dtype: float64

In [ ]:
rm_mean = data_mean.mean()

In [ ]:
rm_mean

6.285101832993899

In [ ]:
data_mean.fillna(rm_mean, inplace= True)

In [ ]:
data_mean.isnull().sum()

0

In [ ]:
data_del = data['RM'].copy()

In [ ]:
print(data_del.isnull().sum())

15

In [ ]:
data_del.dropna(inplace=True)

In [ ]:
data

        CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [ ]:
data_del.shape

(491,)

In [ ]:
data_del.isnull().sum()

0

In [ ]:
data_mean.std()

0.6975001826300911

In [ ]:
data_del.std()

0.7080957287241956

In [ ]:
abs(data_mean.std()-data_del.std())

0.010595546094104513

In [ ]:
zn_mean = data['ZN'].mean()
zn_std = data['ZN'].std()

In [ ]:
zn_max = zn_mean + (1.5 * zn_std)
zn_min = zn_mean - (1.5 * zn_std)

In [ ]:
print(data['ZN'] > zn_max)

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: ZN, Length: 506, dtype: bool

In [ ]:
print(data[data['ZN'] > zn_max])

        CRIM     ZN  INDUS  CHAS     NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
39   0.02763   75.0   2.95     0  0.4280  ...  252     18.3  395.63   4.32  30.8
40   0.03359   75.0   2.95     0  0.4280  ...  252     18.3  395.62   1.98  34.9
54   0.01360   75.0   4.00     0  0.4100  ...  469     21.1  396.90  14.80  18.9
55   0.01311   90.0   1.22     0  0.4030  ...  226     17.9  395.93   4.81  35.4
56   0.02055   85.0   0.74     0  0.4100  ...  313     17.3  396.90   5.77  24.7
57   0.01432  100.0   1.32     0  0.4110  ...  256     15.1  392.90   3.95  31.6
65   0.03584   80.0   3.37     0  0.3980  ...  337     16.1  396.90   4.67  23.5
66   0.04379   80.0   3.37     0  0.3980  ...  337     16.1  396.90  10.24  19.4
193  0.02187   60.0   2.93     0  0.4010  ...  265     15.6  393.37   5.03  31.1
194  0.01439   60.0   2.93     0  0.4010  ...  265     15.6  376.70   4.38  29.1
195  0.01381   80.0   0.46     0  0.4220  ...  255     14.4  394.23   2.97  50.0
196  0.04011   80.0   1.52     0  0.4040  ...  329     12.6  396.90   4.08  33.3
197  0.04666   80.0   1.52     0  0.4040  ...  329     12.6  354.31   8.61  30.3
198  0.03768   80.0   1.52     0  0.4040  ...  329     12.6  392.20   6.62  34.6
199  0.03150   95.0   1.47     0  0.4030  ...  402     17.0  396.90   4.56  34.9
200  0.01778   95.0   1.47     0  0.4030  ...  402     17.0  384.30   4.45  32.9
201  0.03445   82.5   2.03     0  0.4150  ...  348     14.7  393.77   7.43  24.1
202  0.02177   82.5   2.03     0  0.4150  ...  348     14.7  395.38   3.11  42.3
203  0.03510   95.0   2.68     0  0.4161  ...  224     14.7  392.78   3.81  48.5
204  0.02009   95.0   2.68     0  0.4161  ...  224     14.7  390.55   2.88  50.0
254  0.04819   80.0   3.64     0  0.3920  ...  315     16.4  392.89   6.57  21.9
255  0.03548   80.0   3.64     0  0.3920  ...  315     16.4  395.18   9.25  20.9
256  0.01538   90.0   3.75     0  0.3940  ...  244     15.9  386.34   3.11  44.0
283  0.01501   90.0   1.21     1  0.4010  ...  198     13.6  395.52   3.16  50.0
284  0.00906   90.0   2.97     0  0.4000  ...  285     15.3  394.72   7.85  32.2
285  0.01096   55.0   2.25     0  0.3890  ...  300     15.3  394.72   8.23  22.0
286  0.01965   80.0   1.76     0  0.3850  ...  241     18.2  341.60  12.93  20.1
287  0.03871   52.5   5.32     0  0.4050  ...  293     16.6  396.90   7.14  23.2
288  0.04590   52.5   5.32     0  0.4050  ...  293     16.6  396.90   7.60  22.3
289  0.04297   52.5   5.32     0  0.4050  ...  293     16.6  371.72   9.51  24.8
290  0.03502   80.0   4.95     0  0.4110  ...  245     19.2  396.90   3.33  28.5
291  0.07886   80.0   4.95     0  0.4110  ...  245     19.2  396.90   3.56  37.3
292  0.03615   80.0   4.95     0  0.4110  ...  245     19.2  396.90   4.70  27.9
298  0.06466   70.0   2.24     0  0.4000  ...  358     14.8  368.24   4.97  22.5
299  0.05561   70.0   2.24     0  0.4000  ...  358     14.8  371.58   4.74  29.0
300  0.04417   70.0   2.24     0  0.4000  ...  358     14.8  390.86   6.07  24.8
343  0.02543   55.0   3.78     0  0.4840  ...  370     17.6  396.90   7.18  23.9
344  0.03049   55.0   3.78     0  0.4840  ...  370     17.6  387.97   4.61  31.2
347  0.01870   85.0   4.15     0  0.4290  ...  351     17.9  392.43   6.36  23.1
348  0.01501   80.0   2.01     0  0.4350  ...  280     17.0  390.94   5.99  24.5
351  0.07950   60.0   1.69     0  0.4110  ...  411     18.3  370.78   5.49  24.1
352  0.07244   60.0   1.69     0  0.4110  ...  411     18.3  392.33   7.79  18.6
353  0.01709   90.0   2.02     0  0.4100  ...  187     17.0  384.46   4.50  30.1
354  0.04301   80.0   1.91     0  0.4130  ...  334     22.0  382.80   8.05  18.2
355  0.10659   80.0   1.91     0  0.4130  ...  334     22.0  376.04   5.57  20.6

[45 rows x 14 columns]

In [ ]:
zn_max2 = data[data['ZN'] > zn_max]['ZN']
zn_max2

39      75.0
40      75.0
54      75.0
55      90.0
56      85.0
57     100.0
65      80.0
66      80.0
193     60.0
194     60.0
195     80.0
196     80.0
197     80.0
198     80.0
199     95.0
200     95.0
201     82.5
202     82.5
203     95.0
204     95.0
254     80.0
255     80.0
256     90.0
283     90.0
284     90.0
285     55.0
286     80.0
287     52.5
288     52.5
289     52.5
290     80.0
291     80.0
292     80.0
298     70.0
299     70.0
300     70.0
343     55.0
344     55.0
347     85.0
348     80.0
351     60.0
352     60.0
353     90.0
354     80.0
355     80.0
Name: ZN, dtype: float64

In [ ]:
data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [ ]:
data.shape

(506, 14)

In [ ]:
data_col12 = data.drop(columns = ['CHAS','RAD'])
print(data_col12.shape)

(506, 12)

In [ ]:
data_col12_desc = data_col12.describe()
data_col12_desc

             CRIM          ZN       INDUS  ...           B       LSTAT        MEDV
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...  356.674032   12.653063   22.532806
std      8.601545   23.322453    6.860353  ...   91.294864    7.141062    9.197104
min      0.006320    0.000000    0.460000  ...    0.320000    1.730000    5.000000
25%      0.082045    0.000000    5.190000  ...  375.377500    6.950000   17.025000
50%      0.256510    0.000000    9.690000  ...  391.440000   11.360000   21.200000
75%      3.677082   12.500000   18.100000  ...  396.225000   16.955000   25.000000
max     88.976200  100.000000   27.740000  ...  396.900000   37.970000   50.000000

[8 rows x 12 columns]

In [ ]:
data_col12_desc.iloc[[4,6]]

         CRIM    ZN  INDUS    NOX  ...  PTRATIO         B   LSTAT    MEDV
25%  0.082045   0.0   5.19  0.449  ...     17.4  375.3775   6.950  17.025
75%  3.677082  12.5  18.10  0.624  ...     20.2  396.2250  16.955  25.000

[2 rows x 12 columns]

In [ ]:
data_col12_desc.iloc[[4,6]].T

                25%         75%
CRIM       0.082045    3.677082
ZN         0.000000   12.500000
INDUS      5.190000   18.100000
NOX        0.449000    0.624000
RM         5.886000    6.622000
AGE       45.025000   94.075000
DIS        2.100175    5.188425
TAX      279.000000  666.000000
PTRATIO   17.400000   20.200000
B        375.377500  396.225000
LSTAT      6.950000   16.955000
MEDV      17.025000   25.000000

In [ ]:
data_col12_desc_T = data_col12_desc.iloc[[4,6]].T

In [ ]:
print(data_col12_desc_T)

                25%         75%
CRIM       0.082045    3.677082
ZN         0.000000   12.500000
INDUS      5.190000   18.100000
NOX        0.449000    0.624000
RM         5.886000    6.622000
AGE       45.025000   94.075000
DIS        2.100175    5.188425
TAX      279.000000  666.000000
PTRATIO   17.400000   20.200000
B        375.377500  396.225000
LSTAT      6.950000   16.955000
MEDV      17.025000   25.000000

In [ ]:
print(data_col12_desc_T['75%']-data_col12_desc_T['25%'])

CRIM         3.595037
ZN          12.500000
INDUS       12.910000
NOX          0.175000
RM           0.736000
AGE         49.050000
DIS          3.088250
TAX        387.000000
PTRATIO      2.800000
B           20.847500
LSTAT       10.005000
MEDV         7.975000
dtype: float64

In [ ]:
data['MEDV'].head(3)

0    24.0
1    21.6
2    34.7
Name: MEDV, dtype: float64

In [ ]:
data_new = data['MEDV'].sort_values(ascending =False)
data_new.head(30)

186    50.0
225    50.0
283    50.0
195    50.0
166    50.0
163    50.0
162    50.0
161    50.0
204    50.0
372    50.0
371    50.0
370    50.0
368    50.0
369    50.0
257    50.0
267    50.0
262    48.8
203    48.5
233    48.3
228    46.7
282    46.0
280    45.4
224    44.8
256    44.0
98     43.8
268    43.5
261    43.1
253    42.8
202    42.3
232    41.7
Name: MEDV, dtype: float64

In [ ]:
print(data_new.iloc[29])

41.7

In [ ]:
print(data_new.iloc[0:28])

186    50.0
225    50.0
283    50.0
195    50.0
166    50.0
163    50.0
162    50.0
161    50.0
204    50.0
372    50.0
371    50.0
370    50.0
368    50.0
369    50.0
257    50.0
267    50.0
262    48.8
203    48.5
233    48.3
228    46.7
282    46.0
280    45.4
224    44.8
256    44.0
98     43.8
268    43.5
261    43.1
253    42.8
Name: MEDV, dtype: float64

In [ ]:
data_new.iloc[0:28] = 41.7
print(data_new.iloc[0:28])

186    41.7
225    41.7
283    41.7
195    41.7
166    41.7
163    41.7
162    41.7
161    41.7
204    41.7
372    41.7
371    41.7
370    41.7
368    41.7
369    41.7
257    41.7
267    41.7
262    41.7
203    41.7
233    41.7
228    41.7
282    41.7
280    41.7
224    41.7
256    41.7
98     41.7
268    41.7
261    41.7
253    41.7
Name: MEDV, dtype: float64

In [ ]:
print(data_new.mean(),data_new.median(),data_new.min(),data_new.max())

22.180830039525684 21.2 5.0 42.3

In [ ]:
tax_median = data['TAX'].median()

In [ ]:
data_news = data[data['TAX'] > tax_median][['CHAS','RAD']]

In [ ]:
data_news['CHAS'].unique()

array([0, 1])

In [ ]:
print(data_news['RAD'].unique())

[ 3  4  5  6  2  1 24]

In [ ]:
data_news2 = data_news.groupby(['CHAS','RAD'])['RAD'].count()
data_news2
print(type(data_news2))

<class 'pandas.core.series.Series'>

In [ ]:
data_asc = data['TAX'].copy()
data_desc = data['TAX'].copy()

In [ ]:
print(data_asc.sort_values(ascending=True))

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [ ]:
data_asc.sort_values(inplace = True)

In [ ]:
print(data_asc)

353    187
123    188
122    188
126    188
125    188
      ...
492    711
491    711
490    711
489    711
488    711
Name: TAX, Length: 506, dtype: int64

In [ ]:
data_desc.sort_values(ascending=False, inplace=True)

In [ ]:
data_desc

488    711
489    711
490    711
491    711
492    711
      ...
125    188
126    188
122    188
123    188
353    187
Name: TAX, Length: 506, dtype: int64

In [ ]:
data_asc.reset_index(drop = True, inplace=True)
data_asc

0      187
1      188
2      188
3      188
4      188
      ...
501    711
502    711
503    711
504    711
505    711
Name: TAX, Length: 506, dtype: int64

In [ ]:
data_concat = pd.concat([data_asc, data_desc], axis = 1)
data_concat

     TAX  TAX
0    187  296
1    188  242
2    188  242
3    188  222
4    188  222
..   ...  ...
501  711  273
502  711  273
503  711  273
504  711  273
505  711  273

[506 rows x 2 columns]

In [ ]:
data_concat.iloc[:,1]

0      296
1      242
2      242
3      222
4      222
      ...
501    273
502    273
503    273
504    273
505    273
Name: TAX, Length: 506, dtype: int64

In [ ]:
data_concat['diff'] = abs(data_concat.iloc[:,0] - data_concat.iloc[:,1])
print(data_concat)

     TAX  TAX  diff
0    187  296   109
1    188  242    54
2    188  242    54
3    188  222    34
4    188  222    34
..   ...  ...   ...
501  711  273   438
502  711  273   438
503  711  273   438
504  711  273   438
505  711  273   438

[506 rows x 3 columns]

In [ ]:
data_concat['diff'].var()

5938.641333698571

In [ ]:
# 최소최대 변환하기
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
data_minmax = scaler.fit_transform(data)
data_minmax

array([[0.00000000e+00, 1.80000000e-01, 6.78152493e-02, ...,
        1.00000000e+00, 8.96799117e-02, 4.22222222e-01],
       [2.35922539e-04, 0.00000000e+00, 2.42302053e-01, ...,
        1.00000000e+00, 2.04470199e-01, 3.68888889e-01],
       [2.35697744e-04, 0.00000000e+00, 2.42302053e-01, ...,
        9.89737254e-01, 6.34657837e-02, 6.60000000e-01],
       ...,
       [6.11892474e-04, 0.00000000e+00, 4.20454545e-01, ...,
        1.00000000e+00, 1.07891832e-01, 4.20000000e-01],
       [1.16072990e-03, 0.00000000e+00, 4.20454545e-01, ...,
        9.91300620e-01, 1.31070640e-01, 3.77777778e-01],
       [4.61841693e-04, 0.00000000e+00, 4.20454545e-01, ...,
        1.00000000e+00, 1.69701987e-01, 1.53333333e-01]])

In [ ]:
type(data_minmax)

numpy.ndarray

In [ ]:
data_minmax = pd.DataFrame(data_minmax, columns = data.columns)

In [ ]:
print(data_minmax.head(3))

       CRIM    ZN     INDUS  CHAS  ...   PTRATIO         B     LSTAT      MEDV
0  0.000000  0.18  0.067815   0.0  ...  0.287234  1.000000  0.089680  0.422222
1  0.000236  0.00  0.242302   0.0  ...  0.553191  1.000000  0.204470  0.368889
2  0.000236  0.00  0.242302   0.0  ...  0.553191  0.989737  0.063466  0.660000

[3 rows x 14 columns]

In [ ]:
print(data_minmax['MEDV'].describe())

count    506.000000
mean       0.389618
std        0.204380
min        0.000000
25%        0.267222
50%        0.360000
75%        0.444444
max        1.000000
Name: MEDV, dtype: float64

In [ ]:
print(data_minmax['MEDV'] > 0.5)

0      False
1      False
2       True
3       True
4       True
       ...
501    False
502    False
503    False
504    False
505    False
Name: MEDV, Length: 506, dtype: bool

In [ ]:
print(data_minmax[data_minmax['MEDV'] > 0.5])

         CRIM    ZN     INDUS  CHAS  ...   PTRATIO         B     LSTAT      MEDV
2    0.000236  0.00  0.242302   0.0  ...  0.553191  0.989737  0.063466  0.660000
3    0.000293  0.00  0.063050   0.0  ...  0.648936  0.994276  0.033389  0.631111
4    0.000705  0.00  0.063050   0.0  ...  0.648936  1.000000  0.099338  0.693333
5    0.000264  0.00  0.063050   0.0  ...  0.648936  0.992990  0.096026  0.526667
39   0.000240  0.75  0.091276   0.0  ...  0.606383  0.996798  0.071468  0.573333
..        ...   ...       ...   ...  ...       ...       ...       ...       ...
370  0.073423  0.00  0.646628   1.0  ...  0.808511  0.987770  0.033940  1.000000
371  0.103698  0.00  0.646628   0.0  ...  0.808511  0.922462  0.215232  1.000000
372  0.092851  0.00  0.646628   1.0  ...  0.808511  0.876393  0.197296  1.000000
407  0.134256  0.00  0.646628   0.0  ...  0.808511  0.836578  0.286976  0.508889
473  0.052159  0.00  0.646628   0.0  ...  0.808511  0.943971  0.274007  0.551111

[106 rows x 14 columns]

In [ ]:
data_minmax[data_minmax['MEDV'] > 0.5]['MEDV'].count()

106

In [ ]:
data2 = round(data['AGE'],0)

In [ ]:
data2 = pd.DataFrame(data2)

In [ ]:
print(data2.groupby(['AGE'])['AGE'].count())

AGE
3.0       1
6.0       3
7.0       3
8.0       3
9.0       1
         ..
96.0     15
97.0     17
98.0     19
99.0     10
100.0    43
Name: AGE, Length: 91, dtype: int64

In [ ]:
data3 = data2.groupby(['AGE'])['AGE'].count()

In [ ]:
print(type(data3))
data3 = pd.DataFrame(data3)

<class 'pandas.core.series.Series'>

In [ ]:
data3.columns

Index(['AGE'], dtype='object')

In [ ]:
data3.columns = ['COUNT']

In [ ]:
data3.head()

     COUNT
AGE
3.0      1
6.0      3
7.0      3
8.0      3
9.0      1

In [ ]:
data3.reset_index(drop = False, inplace = True)

        CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0    0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1    0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2    0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3    0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4    0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..       ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
501  0.06263   0.0  11.93     0  0.573  ...  273     21.0  391.99   9.67  22.4
502  0.04527   0.0  11.93     0  0.573  ...  273     21.0  396.90   9.08  20.6
503  0.06076   0.0  11.93     0  0.573  ...  273     21.0  396.90   5.64  23.9
504  0.10959   0.0  11.93     0  0.573  ...  273     21.0  393.45   6.48  22.0
505  0.04741   0.0  11.93     0  0.573  ...  273     21.0  396.90   7.88  11.9

[506 rows x 14 columns]

In [ ]:
data3

In [ ]:
print(data3.head(3))

In [ ]:
data3.sort_values(by='COUNT', ascending=False, inplace=True)

In [ ]:
from scipy.stats import mode
print(mode(data2))

In [ ]:
print(mode(data2)[0])

In [ ]:
print(mode(data2)[1])

In [ ]:
print(int(mode(data2)[0]))

In [ ]:
print(int(mode(data2)[1]))

In [ ]:
print(int(mode(data2)[0]), int(mode(data2)[1]))

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
data_stdd = scaler.fit_transform(data)

In [ ]:
print(type(data_stdd))

In [ ]:
data_stdd = pd.DataFrame(data_stdd, columns =data.columns)

In [ ]:
print((data_stdd['DIS']>0.4)&(data_stdd['DIS']<0.6))

In [ ]:
data_stdd[(data_stdd['DIS']>0.4)&(data_stdd['DIS']<0.6)]

In [ ]:
data_stdd = data_stdd[(data_stdd['DIS']>0.4)&(data_stdd['DIS']<0.6)]

In [ ]:
print(data_stdd['DIS'])

In [ ]:
print(data_stdd['DIS'].mean())

In [ ]:
print(round(data_stdd['DIS'].mean(),2))`

In [ ]:
print(data.columns)

In [ ]:
data_col = data.columns

In [ ]:
print(data_col.size)

In [ ]:
print(data['CHAS'].unique())

In [ ]:
print(pd.DataFrame(data['CHAS'].unique()))

In [ ]:
print(pd.DataFrame(data['CHAS'].unique()).count())

In [ ]:
print(int(pd.DataFrame(data['CHAS'].unique()).count()))

In [ ]:
sum = 0

for i in data_col:
    sum = sum +int(pd.DataFrame(data[i].unique()).count()[0])

In [ ]:
print(sum)

In [ ]:
print(data_col.size)

In [ ]:
print(sum/data_col.size)

In [ ]:
import sklearn
print(dir(sklearn))
from sklearn.preprocessing import

In [1]:
import sklearn.preprocessing
print(dir(sklearn.preprocessing))

['Binarizer', 'FunctionTransformer', 'KBinsDiscretizer', 'KernelCenterer', 'LabelBinarizer', 'LabelEncoder', 'MaxAbsScaler', 'MinMaxScaler', 'MultiLabelBinarizer', 'Normalizer', 'OneHotEncoder', 'OrdinalEncoder', 'PolynomialFeatures', 'PowerTransformer', 'QuantileTransformer', 'RobustScaler', 'SplineTransformer', 'StandardScaler', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_csr_polynomial_expansion', '_data', '_discretization', '_encoders', '_function_transformer', '_label', '_polynomial', 'add_dummy_feature', 'binarize', 'label_binarize', 'maxabs_scale', 'minmax_scale', 'normalize', 'power_transform', 'quantile_transform', 'robust_scale', 'scale']