<a href="https://colab.research.google.com/github/sumunoh/study_weekend/blob/main/%EC%9E%91%EC%97%85%ED%98%952%EC%9C%A0%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
#from google.colab import drive
#drive.mount('/content/drive')

In [55]:
import sklearn
print(dir(sklearn))

['__SKLEARN_SETUP__', '__all__', '__builtins__', '__cached__', '__check_build', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_distributor_init', '_loss', 'base', 'clone', 'config_context', 'decomposition', 'exceptions', 'externals', 'get_config', 'linear_model', 'logger', 'logging', 'metrics', 'model_selection', 'neighbors', 'os', 'preprocessing', 'random', 'set_config', 'setup_module', 'show_versions', 'svm', 'sys', 'tree', 'utils']

In [56]:
import sklearn.preprocessing
print(dir(sklearn.preprocessing))

['Binarizer', 'FunctionTransformer', 'KBinsDiscretizer', 'KernelCenterer', 'LabelBinarizer', 'LabelEncoder', 'MaxAbsScaler', 'MinMaxScaler', 'MultiLabelBinarizer', 'Normalizer', 'OneHotEncoder', 'OrdinalEncoder', 'PolynomialFeatures', 'PowerTransformer', 'QuantileTransformer', 'RobustScaler', 'SplineTransformer', 'StandardScaler', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '_csr_polynomial_expansion', '_data', '_discretization', '_encoders', '_function_transformer', '_label', '_polynomial', 'add_dummy_feature', 'binarize', 'label_binarize', 'maxabs_scale', 'minmax_scale', 'normalize', 'power_transform', 'quantile_transform', 'robust_scale', 'scale']

In [57]:
import pandas as pd
x_train = pd.read_csv('/content/drive/MyDrive/study_weekend/data/x_train.csv',encoding='cp949')
x_test = pd.read_csv('/content/drive/MyDrive/study_weekend/data/x_test.csv',encoding='cp949')
y_train = pd.read_csv('/content/drive/MyDrive/study_weekend/data/y_train.csv',encoding='cp949')

In [58]:
print(x_train.head())

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85

In [59]:
pd.options.display.max_columns =None

In [60]:
print(x_train.shape)

(3500, 10)

In [61]:
print(x_test.shape)

(2482, 10)

In [62]:
print(y_train.shape)

(3500, 2)

In [63]:
print(x_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  2482 non-null   int64
 1   총구매액     2482 non-null   int64
 2   최대구매액    2482 non-null   int64
 3   환불금액     871 non-null    float64
 4   주구매상품    2482 non-null   object
 5   주구매지점    2482 non-null   object
 6   내점일수     2482 non-null   int64
 7   내점당구매건수  2482 non-null   float64
 8   주말방문비율   2482 non-null   float64
 9   구매주기     2482 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 194.0+ KB
None

In [64]:
print(x_train.describe())

           cust_id          총구매액         최대구매액          환불금액         내점일수  \
count  3500.000000  3.500000e+03  3.500000e+03  1.205000e+03  3500.000000
mean   1749.500000  9.191925e+07  1.966424e+07  2.407822e+07    19.253714
std    1010.507298  1.635065e+08  3.199235e+07  4.746453e+07    27.174942
min       0.000000 -5.242152e+07 -2.992000e+06  5.600000e+03     1.000000
25%     874.750000  4.747050e+06  2.875000e+06  2.259000e+06     2.000000
50%    1749.500000  2.822270e+07  9.837000e+06  7.392000e+06     8.000000
75%    2624.250000  1.065079e+08  2.296250e+07  2.412000e+07    25.000000
max    3499.000000  2.323180e+09  7.066290e+08  5.637530e+08   285.000000

           내점당구매건수       주말방문비율         구매주기
count  3500.000000  3500.000000  3500.000000
mean      2.834963     0.307246    20.958286
std       1.912368     0.289752    24.748682
min       1.000000     0.000000     0.000000
25%       1.666667     0.027291     4.000000
50%       2.333333     0.256410    13.000000
75%       3.375000     0.448980    28.000000
max      22.083333     1.000000   166.000000

In [65]:
x_test_cust_id = x_test['cust_id']

In [66]:
x_train = x_train.drop(columns = ['cust_id'])
y_train = y_train.drop(columns = ['cust_id'])
x_test = x_test.drop(columns = ['cust_id'])

In [67]:
print(x_train.head())
print(y_train.head())

       총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수    주말방문비율  구매주기
0  68282840  11264000  6860000.0      기타   강남점    19  3.894737  0.527027    17
1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000  0.000000     1
2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000  0.000000     1
3  16077620   4935000        NaN      기타   광주점    18  2.444444  0.318182    16
4  29050000  24000000        NaN      보석  본  점     2  1.500000  0.000000    85
   gender
0       0
1       0
2       1
3       1
4       0

In [68]:
print(x_train.isnull().sum())

총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [69]:
x_train['환불금액'].fillna(0, inplace=True)
x_test['환불금액'].fillna(0, inplace=True)

In [70]:
print(x_train.isnull().sum())

총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64

In [71]:
print(x_test.isnull().sum())

총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64

In [72]:
print(x_train['주구매상품'].unique())

['기타' '스포츠' '남성 캐주얼' '보석' '디자이너' '시티웨어' '명품' '농산물' '화장품' '골프' '구두' '가공식품'
 '수산품' '아동' '차/커피' '캐주얼' '섬유잡화' '육류' '축산가공' '젓갈/반찬' '액세서리' '피혁잡화' '일용잡화'
 '주방가전' '주방용품' '건강식품' '가구' '주류' '모피/피혁' '남성 트랜디' '셔츠' '남성정장' '생활잡화'
 '트래디셔널' '란제리/내의' '커리어' '침구/수예' '대형가전' '통신/컴퓨터' '식기' '소형가전' '악기']

In [73]:
print(x_train['주구매지점'].nunique())

24

In [74]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [75]:
from sklearn.preprocessing import MinMaxScaler

In [76]:
scaler = MinMaxScaler()

In [77]:
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
print(x_train['주구매상품'].head(10))

0     5
1    21
2     6
3     5
4    15
5    11
6    22
7    13
8     5
9     9
Name: 주구매상품, dtype: int64

In [78]:
x_train['주구매상품']

0        5
1       21
2        6
3        5
4       15
        ..
3495     3
3496    22
3497    32
3498    41
3499     5
Name: 주구매상품, Length: 3500, dtype: int64

In [79]:
print(encoder.classes_)

['가공식품' '가구' '건강식품' '골프' '구두' '기타' '남성 캐주얼' '남성 트랜디' '남성정장' '농산물' '대형가전'
 '디자이너' '란제리/내의' '명품' '모피/피혁' '보석' '생활잡화' '섬유잡화' '셔츠' '소형가전' '수산품' '스포츠'
 '시티웨어' '식기' '아동' '악기' '액세서리' '육류' '일용잡화' '젓갈/반찬' '주류' '주방가전' '주방용품'
 '차/커피' '축산가공' '침구/수예' '캐주얼' '커리어' '통신/컴퓨터' '트래디셔널' '피혁잡화' '화장품']

In [80]:
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])

In [81]:
x_train['주구매지점']=encoder.fit_transform(x_train['주구매지점'])
print(x_train['주구매지점'].head(10))

0     0
1    19
2     1
3     2
4     8
5    18
6     0
7     8
8     8
9     5
Name: 주구매지점, dtype: int64

In [82]:
print(encoder.classes_)

['강남점' '관악점' '광주점' '노원점' '대구점' '대전점' '동래점' '미아점' '본  점' '부산본점' '부평점' '분당점'
 '상인점' '센텀시티점' '안양점' '영등포점' '울산점' '인천점' '일산점' '잠실점' '전주점' '창원점' '청량리점'
 '포항점']

In [83]:
x_test['주구매지점']=encoder.fit_transform(x_test['주구매지점'])

In [84]:
condition = x_train['환불금액'] > 0

In [85]:
condition

0        True
1        True
2       False
3       False
4       False
        ...
3495    False
3496     True
3497    False
3498    False
3499     True
Name: 환불금액, Length: 3500, dtype: bool

In [86]:
x_train.loc[condition, '환불금액_new'] = 1
x_train.loc[~condition, '환불금액_new'] = 0

In [87]:
x_train['환불금액_new']

0       1.0
1       1.0
2       0.0
3       0.0
4       0.0
       ...
3495    0.0
3496    1.0
3497    0.0
3498    0.0
3499    1.0
Name: 환불금액_new, Length: 3500, dtype: float64

In [88]:
print(x_train[['환불금액','환불금액_new']])

           환불금액  환불금액_new
0     6860000.0       1.0
1      300000.0       1.0
2           0.0       0.0
3           0.0       0.0
4           0.0       0.0
...         ...       ...
3495        0.0       0.0
3496  6049600.0       1.0
3497        0.0       0.0
3498        0.0       0.0
3499  5973000.0       1.0

[3500 rows x 2 columns]

In [89]:
x_train = x_train.drop(columns = ['환불금액'])

In [90]:
print(x_train.describe().T)

           count          mean           std         min           25%  \
총구매액      3500.0  9.191925e+07  1.635065e+08 -52421520.0  4.747050e+06
최대구매액     3500.0  1.966424e+07  3.199235e+07  -2992000.0  2.875000e+06
주구매상품     3500.0  1.461200e+01  1.301995e+01         0.0  5.000000e+00
주구매지점     3500.0  1.073429e+01  5.636480e+00         0.0  8.000000e+00
내점일수      3500.0  1.925371e+01  2.717494e+01         1.0  2.000000e+00
내점당구매건수   3500.0  2.834963e+00  1.912368e+00         1.0  1.666667e+00
주말방문비율    3500.0  3.072463e-01  2.897516e-01         0.0  2.729090e-02
구매주기      3500.0  2.095829e+01  2.474868e+01         0.0  4.000000e+00
환불금액_new  3500.0  3.442857e-01  4.752027e-01         0.0  0.000000e+00

                   50%           75%           max
총구매액      2.822270e+07  1.065079e+08  2.323180e+09
최대구매액     9.837000e+06  2.296250e+07  7.066290e+08
주구매상품     9.000000e+00  2.200000e+01  4.100000e+01
주구매지점     9.000000e+00  1.500000e+01  2.300000e+01
내점일수      8.000000e+00  2.500000e+01  2.850000e+02
내점당구매건수   2.333333e+00  3.375000e+00  2.208333e+01
주말방문비율    2.564103e-01  4.489796e-01  1.000000e+00
구매주기      1.300000e+01  2.800000e+01  1.660000e+02
환불금액_new  0.000000e+00  1.000000e+00  1.000000e+00

In [91]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train = pd.DataFrame(scaler.fit_transform(x_train), columns = x_train.columns)

In [92]:
x_test = pd.DataFrame(scaler.transform(x_test), columns = x_test.columns)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- 환불금액
Feature names seen at fit time, yet now missing:
- 환불금액_new

  warnings.warn(message, FutureWarning)

In [93]:
print(x_train.describe().T)

           count          mean       std       min       25%       50%  \
총구매액      3500.0 -4.409171e-17  1.000143 -0.882909 -0.533218 -0.389621
최대구매액     3500.0 -4.838986e-17  1.000143 -0.708278 -0.524864 -0.307219
주구매상품     3500.0 -6.236281e-17  1.000143 -1.122438 -0.738357 -0.431093
주구매지점     3500.0 -8.333017e-17  1.000143 -1.904703 -0.485175 -0.307733
내점일수      3500.0  2.518303e-16  1.000143 -0.671807 -0.635003 -0.414180
내점당구매건수   3500.0 -2.346536e-16  1.000143 -0.959661 -0.611003 -0.262346
주말방문비율    3500.0  1.402687e-16  1.000143 -1.060530 -0.966329 -0.175472
구매주기      3500.0 -1.220294e-16  1.000143 -0.846966 -0.685318 -0.321610
환불금액_new  3500.0  3.445498e-16  1.000143 -0.724606 -0.724606 -0.724606

               75%        max
총구매액      0.089237  13.648260
최대구매액     0.103110  21.475852
주구매상품     0.567518   2.027026
주구매지점     0.756913   2.176441
내점일수      0.211486   9.780490
내점당구매건수   0.282432  10.066639
주말방문비율    0.489224   2.391196
구매주기      0.284570   5.861421
환불금액_new  1.380060   1.380060

In [94]:
print(x_train[['총구매액','최대구매액','환불금액_new']].corr())

              총구매액     최대구매액  환불금액_new
총구매액      1.000000  0.700080  0.403357
최대구매액     0.700080  1.000000  0.330687
환불금액_new  0.403357  0.330687  1.000000

In [95]:
x_train = x_train.drop(columns = ['최대구매액'])

In [96]:
x_test = x_test.drop(columns = ['최대구매액'])

In [97]:
x_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   총구매액     2482 non-null   float64
 1   환불금액     2482 non-null   float64
 2   주구매상품    2482 non-null   float64
 3   주구매지점    2482 non-null   float64
 4   내점일수     2482 non-null   float64
 5   내점당구매건수  2482 non-null   float64
 6   주말방문비율   2482 non-null   float64
 7   구매주기     2482 non-null   float64
dtypes: float64(8)
memory usage: 155.2 KB

In [98]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)
y_test_predicted = model.predict(x_test)
print(pd.DataFrame(y_test_predicted).head(3))

   0
0  1
1  1
2  0

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- 환불금액
Feature names seen at fit time, yet now missing:
- 환불금액_new

  warnings.warn(message, FutureWarning)

In [99]:
model = DecisionTreeClassifier(max_depth=10, criterion='entropy', random_state=10)
model.fit(x_train, y_train)
y_test_predicted = model.predict(x_test)
print(pd.DataFrame(y_test_predicted).head(3))

   0
0  1
1  1
2  1

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- 환불금액
Feature names seen at fit time, yet now missing:
- 환불금액_new

  warnings.warn(message, FutureWarning)

In [100]:
y_test_proba = model.predict_proba(x_test)
print(pd.DataFrame(y_test_proba).head())

     0    1
0  0.0  1.0
1  0.0  1.0
2  0.0  1.0
3  0.0  1.0
4  1.0  0.0

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- 환불금액
Feature names seen at fit time, yet now missing:
- 환불금액_new

  warnings.warn(message, FutureWarning)

In [101]:
y_train_predicted = model.predict(x_train)
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_train, y_train_predicted))

0.6896432468240978

In [102]:
print(help(DecisionTreeClassifier))

Help on class DecisionTreeClassifier in module sklearn.tree._classes:

class DecisionTreeClassifier(sklearn.base.ClassifierMixin, BaseDecisionTree)
 |  DecisionTreeClassifier(*, criterion='gini', splitter='best', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=None, random_state=None, max_leaf_nodes=None, min_impurity_decrease=0.0, class_weight=None, ccp_alpha=0.0)
 |
 |  A decision tree classifier.
 |
 |  Read more in the :ref:`User Guide <tree>`.
 |
 |  Parameters
 |  ----------
 |  criterion : {"gini", "entropy"}, default="gini"
 |      The function to measure the quality of a split. Supported criteria are
 |      "gini" for the Gini impurity and "entropy" for the information gain.
 |
 |  splitter : {"best", "random"}, default="best"
 |      The strategy used to choose the split at each node. Supported
 |      strategies are "best" to choose the best split and "random" to choose
 |      the best random split.
 |
 |  max_depth : int, default=None
 |      The maximum depth of the tree. If None, then nodes are expanded until
 |      all leaves are pure or until all leaves contain less than
 |      min_samples_split samples.
 |
 |  min_samples_split : int or float, default=2
 |      The minimum number of samples required to split an internal node:
 |
 |      - If int, then consider `min_samples_split` as the minimum number.
 |      - If float, then `min_samples_split` is a fraction and
 |        `ceil(min_samples_split * n_samples)` are the minimum
 |        number of samples for each split.
 |
 |      .. versionchanged:: 0.18
 |         Added float values for fractions.
 |
 |  min_samples_leaf : int or float, default=1
 |      The minimum number of samples required to be at a leaf node.
 |      A split point at any depth will only be considered if it leaves at
 |      least ``min_samples_leaf`` training samples in each of the left and
 |      right branches.  This may have the effect of smoothing the model,
 |      especially in regression.
 |
 |      - If int, then consider `min_samples_leaf` as the minimum number.
 |      - If float, then `min_samples_leaf` is a fraction and
 |        `ceil(min_samples_leaf * n_samples)` are the minimum
 |        number of samples for each node.
 |
 |      .. versionchanged:: 0.18
 |         Added float values for fractions.
 |
 |  min_weight_fraction_leaf : float, default=0.0
 |      The minimum weighted fraction of the sum total of weights (of all
 |      the input samples) required to be at a leaf node. Samples have
 |      equal weight when sample_weight is not provided.
 |
 |  max_features : int, float or {"auto", "sqrt", "log2"}, default=None
 |      The number of features to consider when looking for the best split:
 |
 |          - If int, then consider `max_features` features at each split.
 |          - If float, then `max_features` is a fraction and
 |            `int(max_features * n_features)` features are considered at each
 |            split.
 |          - If "auto", then `max_features=sqrt(n_features)`.
 |          - If "sqrt", then `max_features=sqrt(n_features)`.
 |          - If "log2", then `max_features=log2(n_features)`.
 |          - If None, then `max_features=n_features`.
 |
 |      Note: the search for a split does not stop until at least one
 |      valid partition of the node samples is found, even if it requires to
 |      effectively inspect more than ``max_features`` features.
 |
 |  random_state : int, RandomState instance or None, default=None
 |      Controls the randomness of the estimator. The features are always
 |      randomly permuted at each split, even if ``splitter`` is set to
 |      ``"best"``. When ``max_features < n_features``, the algorithm will
 |      select ``max_features`` at random at each split before finding the best
 |      split among them. But the best found split may vary across different
 |      runs, even if ``max_features=n_features``. That is the case, if the
 |      improvement of the criterion is identical for several splits and one
 |      split has to be selected at random. To obtain a deterministic behaviour
 |      during fitting, ``random_state`` has to be fixed to an integer.
 |      See :term:`Glossary <random_state>` for details.
 |
 |  max_leaf_nodes : int, default=None
 |      Grow a tree with ``max_leaf_nodes`` in best-first fashion.
 |      Best nodes are defined as relative reduction in impurity.
 |      If None then unlimited number of leaf nodes.
 |
 |  min_impurity_decrease : float, default=0.0
 |      A node will be split if this split induces a decrease of the impurity
 |      greater than or equal to this value.
 |
 |      The weighted impurity decrease equation is the following::
 |
 |          N_t / N * (impurity - N_t_R / N_t * right_impurity
 |                              - N_t_L / N_t * left_impurity)
 |
 |      where ``N`` is the total number of samples, ``N_t`` is the number of
 |      samples at the current node, ``N_t_L`` is the number of samples in the
 |      left child, and ``N_t_R`` is the number of samples in the right child.
 |
 |      ``N``, ``N_t``, ``N_t_R`` and ``N_t_L`` all refer to the weighted sum,
 |      if ``sample_weight`` is passed.
 |
 |      .. versionadded:: 0.19
 |
 |  class_weight : dict, list of dict or "balanced", default=None
 |      Weights associated with classes in the form ``{class_label: weight}``.
 |      If None, all classes are supposed to have weight one. For
 |      multi-output problems, a list of dicts can be provided in the same
 |      order as the columns of y.
 |
 |      Note that for multioutput (including multilabel) weights should be
 |      defined for each class of every column in its own dict. For example,
 |      for four-class multilabel classification weights should be
 |      [{0: 1, 1: 1}, {0: 1, 1: 5}, {0: 1, 1: 1}, {0: 1, 1: 1}] instead of
 |      [{1:1}, {2:5}, {3:1}, {4:1}].
 |
 |      The "balanced" mode uses the values of y to automatically adjust
 |      weights inversely proportional to class frequencies in the input data
 |      as ``n_samples / (n_classes * np.bincount(y))``
 |
 |      For multi-output, the weights of each column of y will be multiplied.
 |
 |      Note that these weights will be multiplied with sample_weight (passed
 |      through the fit method) if sample_weight is specified.
 |
 |  ccp_alpha : non-negative float, default=0.0
 |      Complexity parameter used for Minimal Cost-Complexity Pruning. The
 |      subtree with the largest cost complexity that is smaller than
 |      ``ccp_alpha`` will be chosen. By default, no pruning is performed. See
 |      :ref:`minimal_cost_complexity_pruning` for details.
 |
 |      .. versionadded:: 0.22
 |
 |  Attributes
 |  ----------
 |  classes_ : ndarray of shape (n_classes,) or list of ndarray
 |      The classes labels (single output problem),
 |      or a list of arrays of class labels (multi-output problem).
 |
 |  feature_importances_ : ndarray of shape (n_features,)
 |      The impurity-based feature importances.
 |      The higher, the more important the feature.
 |      The importance of a feature is computed as the (normalized)
 |      total reduction of the criterion brought by that feature.  It is also
 |      known as the Gini importance [4]_.
 |
 |      Warning: impurity-based feature importances can be misleading for
 |      high cardinality features (many unique values). See
 |      :func:`sklearn.inspection.permutation_importance` as an alternative.
 |
 |  max_features_ : int
 |      The inferred value of max_features.
 |
 |  n_classes_ : int or list of int
 |      The number of classes (for single output problems),
 |      or a list containing the number of classes for each
 |      output (for multi-output problems).
 |
 |  n_features_ : int
 |      The number of features when ``fit`` is performed.
 |
 |      .. deprecated:: 1.0
 |         `n_features_` is deprecated in 1.0 and will be removed in
 |         1.2. Use `n_features_in_` instead.
 |
 |  n_features_in_ : int
 |      Number of features seen during :term:`fit`.
 |
 |      .. versionadded:: 0.24
 |
 |  feature_names_in_ : ndarray of shape (`n_features_in_`,)
 |      Names of features seen during :term:`fit`. Defined only when `X`
 |      has feature names that are all strings.
 |
 |      .. versionadded:: 1.0
 |
 |  n_outputs_ : int
 |      The number of outputs when ``fit`` is performed.
 |
 |  tree_ : Tree instance
 |      The underlying Tree object. Please refer to
 |      ``help(sklearn.tree._tree.Tree)`` for attributes of Tree object and
 |      :ref:`sphx_glr_auto_examples_tree_plot_unveil_tree_structure.py`
 |      for basic usage of these attributes.
 |
 |  See Also
 |  --------
 |  DecisionTreeRegressor : A decision tree regressor.
 |
 |  Notes
 |  -----
 |  The default values for the parameters controlling the size of the trees
 |  (e.g. ``max_depth``, ``min_samples_leaf``, etc.) lead to fully grown and
 |  unpruned trees which can potentially be very large on some data sets. To
 |  reduce memory consumption, the complexity and size of the trees should be
 |  controlled by setting those parameter values.
 |
 |  The :meth:`predict` method operates using the :func:`numpy.argmax`
 |  function on the outputs of :meth:`predict_proba`. This means that in
 |  case the highest predicted probabilities are tied, the classifier will
 |  predict the tied class with the lowest index in :term:`classes_`.
 |
 |  References
 |  ----------
 |
 |  .. [1] https://en.wikipedia.org/wiki/Decision_tree_learning
 |
 |  .. [2] L. Breiman, J. Friedman, R. Olshen, and C. Stone, "Classification
 |         and Regression Trees", Wadsworth, Belmont, CA, 1984.
 |
 |  .. [3] T. Hastie, R. Tibshirani and J. Friedman. "Elements of Statistical
 |         Learning", Springer, 2009.
 |
 |  .. [4] L. Breiman, and A. Cutler, "Random Forests",
 |         https://www.stat.berkeley.edu/~breiman/RandomForests/cc_home.htm
 |
 |  Examples
 |  --------
 |  >>> from sklearn.datasets import load_iris
 |  >>> from sklearn.model_selection import cross_val_score
 |  >>> from sklearn.tree import DecisionTreeClassifier
 |  >>> clf = DecisionTreeClassifier(random_state=0)
 |  >>> iris = load_iris()
 |  >>> cross_val_score(clf, iris.data, iris.target, cv=10)
 |  ...                             # doctest: +SKIP
 |  ...
 |  array([ 1.     ,  0.93...,  0.86...,  0.93...,  0.93...,
 |          0.93...,  0.93...,  1.     ,  0.93...,  1.      ])
 |
 |  Method resolution order:
 |      DecisionTreeClassifier
 |      sklearn.base.ClassifierMixin
 |      BaseDecisionTree
 |      sklearn.base.MultiOutputMixin
 |      sklearn.base.BaseEstimator
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, *, criterion='gini', splitter='best', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=None, random_state=None, max_leaf_nodes=None, min_impurity_decrease=0.0, class_weight=None, ccp_alpha=0.0)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  fit(self, X, y, sample_weight=None, check_input=True, X_idx_sorted='deprecated')
 |      Build a decision tree classifier from the training set (X, y).
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The training input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csc_matrix``.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          The target values (class labels) as integers or strings.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights. If None, then samples are equally weighted. Splits
 |          that would create child nodes with net zero or negative weight are
 |          ignored while searching for a split in each node. Splits are also
 |          ignored if they would result in any single class carrying a
 |          negative weight in either child node.
 |
 |      check_input : bool, default=True
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      X_idx_sorted : deprecated, default="deprecated"
 |          This parameter is deprecated and has no effect.
 |          It will be removed in 1.1 (renaming of 0.26).
 |
 |          .. deprecated:: 0.24
 |
 |      Returns
 |      -------
 |      self : DecisionTreeClassifier
 |          Fitted estimator.
 |
 |  predict_log_proba(self, X)
 |      Predict class log-probabilities of the input samples X.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      Returns
 |      -------
 |      proba : ndarray of shape (n_samples, n_classes) or list of n_outputs             such arrays if n_outputs > 1
 |          The class log-probabilities of the input samples. The order of the
 |          classes corresponds to that in the attribute :term:`classes_`.
 |
 |  predict_proba(self, X, check_input=True)
 |      Predict class probabilities of the input samples X.
 |
 |      The predicted class probability is the fraction of samples of the same
 |      class in a leaf.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      check_input : bool, default=True
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      Returns
 |      -------
 |      proba : ndarray of shape (n_samples, n_classes) or list of n_outputs             such arrays if n_outputs > 1
 |          The class probabilities of the input samples. The order of the
 |          classes corresponds to that in the attribute :term:`classes_`.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  n_features_
 |      DEPRECATED: The attribute `n_features_` is deprecated in 1.0 and will be removed in 1.2. Use `n_features_in_` instead.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from sklearn.base.ClassifierMixin:
 |
 |  score(self, X, y, sample_weight=None)
 |      Return the mean accuracy on the given test data and labels.
 |
 |      In multi-label classification, this is the subset accuracy
 |      which is a harsh metric since you require for each sample that
 |      each label set be correctly predicted.
 |
 |      Parameters
 |      ----------
 |      X : array-like of shape (n_samples, n_features)
 |          Test samples.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          True labels for `X`.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights.
 |
 |      Returns
 |      -------
 |      score : float
 |          Mean accuracy of ``self.predict(X)`` wrt. `y`.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from sklearn.base.ClassifierMixin:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseDecisionTree:
 |
 |  apply(self, X, check_input=True)
 |      Return the index of the leaf that each sample is predicted as.
 |
 |      .. versionadded:: 0.17
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      check_input : bool, default=True
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      Returns
 |      -------
 |      X_leaves : array-like of shape (n_samples,)
 |          For each datapoint x in X, return the index of the leaf x
 |          ends up in. Leaves are numbered within
 |          ``[0; self.tree_.node_count)``, possibly with gaps in the
 |          numbering.
 |
 |  cost_complexity_pruning_path(self, X, y, sample_weight=None)
 |      Compute the pruning path during Minimal Cost-Complexity Pruning.
 |
 |      See :ref:`minimal_cost_complexity_pruning` for details on the pruning
 |      process.
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The training input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csc_matrix``.
 |
 |      y : array-like of shape (n_samples,) or (n_samples, n_outputs)
 |          The target values (class labels) as integers or strings.
 |
 |      sample_weight : array-like of shape (n_samples,), default=None
 |          Sample weights. If None, then samples are equally weighted. Splits
 |          that would create child nodes with net zero or negative weight are
 |          ignored while searching for a split in each node. Splits are also
 |          ignored if they would result in any single class carrying a
 |          negative weight in either child node.
 |
 |      Returns
 |      -------
 |      ccp_path : :class:`~sklearn.utils.Bunch`
 |          Dictionary-like object, with the following attributes.
 |
 |          ccp_alphas : ndarray
 |              Effective alphas of subtree during pruning.
 |
 |          impurities : ndarray
 |              Sum of the impurities of the subtree leaves for the
 |              corresponding alpha value in ``ccp_alphas``.
 |
 |  decision_path(self, X, check_input=True)
 |      Return the decision path in the tree.
 |
 |      .. versionadded:: 0.18
 |
 |      Parameters
 |      ----------
 |      X : {array-like, sparse matrix} of shape (n_samples, n_features)
 |          The input samples. Internally, it will be converted to
 |          ``dtype=np.float32`` and if a sparse matrix is provided
 |          to a sparse ``csr_matrix``.
 |
 |      check_input : bool, default=True
 |          Allow to bypass several input checking.
 |          Don't use this parameter unless you know what you do.
 |
 |      Returns
 |      -------
 |      indicator : sparse matrix of shape (n_samples, n_nodes)
 |          Return a node indicator CSR matrix where non zero elements
 |          indicates that the samples goes through the nodes.
 |
 |  get_depth(self)
 |      Return the depth of the decision tree.
 |
 |      The depth of a tree is the maximum distance between the root
 |      and any leaf.
 |
 |      Returns
 |      -------
 |      self.tree_.max_depth : int
 |          The maximum depth of the tree.
 |
 |  get_n_leaves(self)
 |      Return the number of leaves of the decision tree.
 |
 |      Returns
 |      -------
 |      self.tree_.n_leaves : int
 |          Number of leaves.
 |
 |  predict(self, X, check_input=True)
 |      Predict class or regression value for X.
 |
 |      For a classification model, the predicted class for each sample in X is
 |      returned. For a regression model, the predicted value based on X is
 |      returned.
 |
 |      Parameters
 |      ----------

In [103]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x_train,y_train, test_size=0.2, random_state =10)

In [104]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(2800, 8)
(700, 8)
(2800, 1)
(700, 1)

In [105]:
model = DecisionTreeClassifier(max_depth =10, criterion='entropy', random_state=10)
model.fit(X_train,y_train)
pred = model.predict(X_test)

In [106]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test, pred))

0.5771332492643968

In [107]:
#2 학습 포인트 분류 모델 수행하기
import pandas as pd 
x_train = pd.read_csv('/content/drive/MyDrive/study_weekend/data/titanic_x_train.csv', encoding='cp949')
x_test = pd.read_csv('/content/drive/MyDrive/study_weekend/data/titanic_x_test.csv', encoding='cp949')
y_train = pd.read_csv('/content/drive/MyDrive/study_weekend/data/titanic_y_train.csv', encoding='cp949')

In [108]:
print(x_train.head(1).T)

                                   0
PassengerId                        1
티켓등급                               3
승객이름         Braund, Mr. Owen Harris
성별                              male
나이                                22
형제자매배우자수                           1
부모자식수                              0
티켓번호                       A/5 21171
운임요금                            7.25
객실번호                             NaN
선착장                                S

In [109]:
print(x_test.head(1).T)

                            0
PassengerId               892
티켓등급                        3
승객이름         Kelly, Mr. James
성별                       male
나이                       34.5
형제자매배우자수                    0
부모자식수                       0
티켓번호                   330911
운임요금                   7.8292
객실번호                      NaN
선착장                         Q

In [110]:
print(y_train.head(5))

   癤풮assengerId  Survived
0             1         0
1             2         1
2             3         1
3             4         1
4             5         0

In [111]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(891, 11)
(418, 11)
(891, 2)

In [112]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   티켓등급         891 non-null    int64
 2   승객이름         891 non-null    object
 3   성별           891 non-null    object
 4   나이           714 non-null    float64
 5   형제자매배우자수     891 non-null    int64
 6   부모자식수        891 non-null    int64
 7   티켓번호         891 non-null    object
 8   운임요금         891 non-null    float64
 9   객실번호         204 non-null    object
 10  선착장          889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.7+ KB
None

In [113]:
 print(x_train['성별'].unique().size)

2

In [114]:
print(x_train.describe().T)

             count        mean         std   min       25%       50%    75%  \
PassengerId  891.0  446.000000  257.353842  1.00  223.5000  446.0000  668.5
티켓등급         891.0    2.308642    0.836071  1.00    2.0000    3.0000    3.0
나이           714.0   29.699118   14.526497  0.42   20.1250   28.0000   38.0
형제자매배우자수     891.0    0.523008    1.102743  0.00    0.0000    0.0000    1.0
부모자식수        891.0    0.381594    0.806057  0.00    0.0000    0.0000    0.0
운임요금         891.0   32.204208   49.693429  0.00    7.9104   14.4542   31.0

                  max
PassengerId  891.0000
티켓등급           3.0000
나이            80.0000
형제자매배우자수       8.0000
부모자식수          6.0000
운임요금         512.3292

In [115]:
data = pd.concat([x_train,y_train], axis =1)
data

,PassengerId,티켓등급,승객이름,성별,나이,형제자매배우자수,부모자식수,티켓번호,운임요금,객실번호,선착장,癤풮assengerId,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4,1
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,887,0
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888,1
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889,0
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890,1
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891,0

In [116]:
print(data.groupby(['성별'])['Survived'].mean())

성별
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [117]:
data.groupby(['티켓등급'])['Survived'].mean()

티켓등급
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [118]:
x_train = x_train.drop(columns = ['승객이름'])
x_test = x_test.drop(columns =['승객이름'])

In [119]:
print(x_train['나이'].isnull().sum())
print(x_train['객실번호'].isnull().sum())
print(x_train['선착장'].isnull().sum())

177
687
2

In [120]:
x_train['선착장']=x_train['선착장'].fillna('S')

In [121]:
print(x_train['선착장'].isnull().sum())

0

In [122]:
print(x_test['선착장'].isnull().sum())

0

In [123]:
x_train['성별'] = x_train['성별'].replace({'male':0,'female':1})

In [124]:
x_train['성별']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: 성별, Length: 891, dtype: int64

In [125]:
x_test['성별'] = x_test['성별'].replace({'male':0,'female':1})

In [126]:
선착장_dummy = pd.get_dummies(x_train['선착장'])

In [127]:
선착장_dummy.rename(columns={'C':'선착장C','Q':'선착장Q','S':'선착장S'},inplace=True)

In [128]:
선착장_dummy

     선착장C  선착장Q  선착장S
0       0     0     1
1       1     0     0
2       0     0     1
3       0     0     1
4       0     0     1
..    ...   ...   ...
886     0     0     1
887     0     0     1
888     0     0     1
889     1     0     0
890     0     1     0

[891 rows x 3 columns]

In [129]:
x_train = pd.concat([x_train, 선착장_dummy], axis=1)

In [130]:
x_train

,PassengerId,티켓등급,성별,나이,형제자매배우자수,부모자식수,티켓번호,운임요금,객실번호,선착장,선착장C,선착장Q,선착장S
0,1,3,0,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1
1,2,1,1,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0
2,3,3,1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1
3,4,1,1,35.0,1,0,113803,53.1000,C123,S,0,0,1
4,5,3,0,35.0,0,0,373450,8.0500,NaN,S,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,0,27.0,0,0,211536,13.0000,NaN,S,0,0,1
887,888,1,1,19.0,0,0,112053,30.0000,B42,S,0,0,1
888,889,3,1,NaN,1,2,W./C. 6607,23.4500,NaN,S,0,0,1
889,890,1,0,26.0,0,0,111369,30.0000,C148,C,1,0,0
890,891,3,0,32.0,0,0,370376,7.7500,NaN,Q,0,1,0

In [132]:
x_train['가족수'] = x_train['형제자매배우자수'] + x_train['부모자식수']
print(x_train[['형제자매배우자수','부모자식수','가족수']].head(10))

   형제자매배우자수  부모자식수  가족수
0         1      0    1
1         1      0    1
2         0      0    0
3         1      0    1
4         0      0    0
5         0      0    0
6         0      0    0
7         3      1    4
8         0      2    2
9         1      0    1

In [133]:
x_train = x_train.drop(columns = ['형제자매배우자수','부모자식수'])

In [134]:
x_test['가족수'] = x_test['형제자매배우자수']+x_test['부모자식수']
x_test = x_test.drop(columns=['형제자매배우자수','부모자식수'])

In [153]:
x_train['나이'].fillna(x_train['나이'].mean(),inplace=True)

In [154]:
x_train.drop(columns = ['객실번호'],axis=1,inplace=True)

In [156]:
x_train.drop(columns = ['티켓번호'],axis=1,inplace=True)

In [159]:
from sklearn.preprocessing import LabelEncoder

In [160]:
encoder = LabelEncoder()
x_train['선착장'] = encoder.fit_transform(x_train['선착장'])

In [161]:
x_train

     PassengerId  티켓등급  성별         나이     운임요금  선착장  선착장C  선착장Q  선착장S  가족수
0              1     3   0  22.000000   7.2500    2     0     0     1    1
1              2     1   1  38.000000  71.2833    0     1     0     0    1
2              3     3   1  26.000000   7.9250    2     0     0     1    0
3              4     1   1  35.000000  53.1000    2     0     0     1    1
4              5     3   0  35.000000   8.0500    2     0     0     1    0
..           ...   ...  ..        ...      ...  ...   ...   ...   ...  ...
886          887     2   0  27.000000  13.0000    2     0     0     1    0
887          888     1   1  19.000000  30.0000    2     0     0     1    0
888          889     3   1  29.699118  23.4500    2     0     0     1    3
889          890     1   0  26.000000  30.0000    0     1     0     0    0
890          891     3   0  32.000000   7.7500    1     0     1     0    0

[891 rows x 10 columns]

In [162]:
from sklearn.model_selection import train_test_split

X_TRAIN, X_TEST, Y_TRAIN,Y_TEST = train_test_split(x_train,y_train, test_size=0.2, random_state=10)

In [163]:
print(X_TRAIN.shape)

(712, 10)

In [164]:
print(X_TEST.shape)

(179, 10)

In [168]:
print(Y_TRAIN.shape)
print(Y_TEST.shape)

(712, 1)
(179, 1)

In [166]:
Y_TEST.drop(columns=['癤풮assengerId'], inplace=True)

In [167]:
Y_TRAIN.drop(columns=['癤풮assengerId'], inplace=True)

In [141]:
import xgboost

In [142]:
print(dir(xgboost))

['Booster', 'DMatrix', 'VERSION_FILE', 'XGBClassifier', 'XGBModel', 'XGBRFClassifier', 'XGBRFRegressor', 'XGBRanker', 'XGBRegressor', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', 'absolute_import', 'callback', 'compat', 'core', 'cv', 'f', 'libpath', 'os', 'plot_importance', 'plot_tree', 'plotting', 'rabit', 'sklearn', 'to_graphviz', 'train', 'training']

In [143]:
from xgboost import XGBClassifier

In [152]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   티켓등급         891 non-null    int64
 2   성별           891 non-null    int64
 3   나이           714 non-null    float64
 4   티켓번호         891 non-null    object
 5   운임요금         891 non-null    float64
 6   객실번호         204 non-null    object
 7   선착장          891 non-null    object
 8   선착장C         891 non-null    uint8
 9   선착장Q         891 non-null    uint8
 10  선착장S         891 non-null    uint8
 11  가족수          891 non-null    int64
dtypes: float64(2), int64(4), object(3), uint8(3)
memory usage: 65.4+ KB

In [169]:
model = XGBClassifier(random_state = 10)
model.fit(X_TRAIN, Y_TRAIN)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(random_state=10)

In [170]:
model = XGBClassifier(random_state=10)
model.fit(X_TRAIN, Y_TRAIN)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(random_state=10)

In [172]:
pred = model.predict(X_TEST)

In [174]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(Y_TEST,pred))

0.8358147229114972

In [179]:
# 자전거 데이터
import pandas as pd
x_train = pd.read_csv('/content/drive/MyDrive/study_weekend/data/bike_x_train.csv', encoding='cp949')
x_test = pd.read_csv('/content/drive/MyDrive/study_weekend/data/bike_x_test.csv', encoding='cp949')
y_train = pd.read_csv('/content/drive/MyDrive/study_weekend/data/bike_y_train.csv', encoding='cp949')

In [180]:
print(x_train.head(3))

          datetime  계절  공휴일  근무일  날씨    온도    체감온도  습도   풍속
0  2011-01-01 0:00   1    0    0   1  9.84  14.395  81  0.0
1  2011-01-01 1:00   1    0    0   1  9.02  13.635  80  0.0
2  2011-01-01 2:00   1    0    0   1  9.02  13.635  80  0.0

In [181]:
print(x_test.head(3))

          datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속
0  2011-01-20 0:00   1    0    1   1  10.66  11.365  56  26.0027
1  2011-01-20 1:00   1    0    1   1  10.66  13.635  56   0.0000
2  2011-01-20 2:00   1    0    1   1  10.66  13.635  56   0.0000

In [188]:
print(y_train.head(3))

          datetime  count
0  2011-01-01 0:00     16
1  2011-01-01 1:00     40
2  2011-01-01 2:00     32

In [187]:
y_train.rename(columns = {'癤풼atetime':'datetime'},inplace=True)

In [189]:
print(x_train.shape)

(10886, 9)

In [190]:
print(x_test.shape)

(6493, 9)

In [191]:
print(y_train.shape)

(10886, 2)

In [192]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  10886 non-null  object
 1   계절        10886 non-null  int64
 2   공휴일       10886 non-null  int64
 3   근무일       10886 non-null  int64
 4   날씨        10886 non-null  int64
 5   온도        10886 non-null  float64
 6   체감온도      10886 non-null  float64
 7   습도        10886 non-null  int64
 8   풍속        10886 non-null  float64
dtypes: float64(3), int64(5), object(1)
memory usage: 765.5+ KB
None

In [193]:
print(x_train['계절'].unique())
print(x_train['공휴일'].unique())
print(x_train['근무일'].unique())
print(x_train['날씨'].unique())

[1 2 3 4]
[0 1]
[0 1]
[1 2 3 4]

In [194]:
print(x_train.describe().T)

        count       mean        std   min      25%     50%      75%       max
계절    10886.0   2.506614   1.116174  1.00   2.0000   3.000   4.0000    4.0000
공휴일   10886.0   0.028569   0.166599  0.00   0.0000   0.000   0.0000    1.0000
근무일   10886.0   0.680875   0.466159  0.00   0.0000   1.000   1.0000    1.0000
날씨    10886.0   1.418427   0.633839  1.00   1.0000   1.000   2.0000    4.0000
온도    10886.0  20.230860   7.791590  0.82  13.9400  20.500  26.2400   41.0000
체감온도  10886.0  23.655084   8.474601  0.76  16.6650  24.240  31.0600   45.4550
습도    10886.0  61.886460  19.245033  0.00  47.0000  62.000  77.0000  100.0000
풍속    10886.0  12.799395   8.164537  0.00   7.0015  12.998  16.9979   56.9969

In [201]:
data = pd.merge(x_train,y_train, on='datetime', how='inner')

In [202]:
data

               datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속  count
0       2011-01-01 0:00   1    0    0   1   9.84  14.395  81   0.0000     16
1       2011-01-01 1:00   1    0    0   1   9.02  13.635  80   0.0000     40
2       2011-01-01 2:00   1    0    0   1   9.02  13.635  80   0.0000     32
3       2011-01-01 3:00   1    0    0   1   9.84  14.395  75   0.0000     13
4       2011-01-01 4:00   1    0    0   1   9.84  14.395  75   0.0000      1
...                 ...  ..  ...  ...  ..    ...     ...  ..      ...    ...
10881  2012-12-19 19:00   4    0    1   1  15.58  19.695  50  26.0027    336
10882  2012-12-19 20:00   4    0    1   1  14.76  17.425  57  15.0013    241
10883  2012-12-19 21:00   4    0    1   1  13.94  15.910  61  15.0013    168
10884  2012-12-19 22:00   4    0    1   1  13.94  17.425  61   6.0032    129
10885  2012-12-19 23:00   4    0    1   1  13.12  16.665  66   8.9981     88

[10886 rows x 10 columns]

In [204]:
print(data.groupby(['계절'])['count'].sum())

계절
1    312498
2    588282
3    640662
4    544034
Name: count, dtype: int64

In [205]:
print(data.groupby(['공휴일'])['count'].sum())

공휴일
0    2027668
1      57808
Name: count, dtype: int64

In [207]:
x_train['datetime'] = pd.to_datetime(x_train['datetime'])

In [209]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   datetime  10886 non-null  datetime64[ns]
 1   계절        10886 non-null  int64
 2   공휴일       10886 non-null  int64
 3   근무일       10886 non-null  int64
 4   날씨        10886 non-null  int64
 5   온도        10886 non-null  float64
 6   체감온도      10886 non-null  float64
 7   습도        10886 non-null  int64
 8   풍속        10886 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(5)
memory usage: 765.5 KB

In [210]:
x_train['year'] = x_train['datetime'].dt.year

In [211]:
print(x_train['year'].unique())

[2011 2012]

In [212]:
x_train['month'] = x_train['datetime'].dt.month

In [214]:
print(x_train['month'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [215]:
x_train['day'] = x_train['datetime'].dt.day

In [216]:
print(x_train['day'].unique())

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [217]:
x_train['hour'] = x_train['datetime'].dt.hour

In [218]:
print(x_train['hour'].unique())

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

In [219]:
x_train['dayofweek'] = x_train['datetime'].dt.dayofweek
print(x_train['dayofweek'].unique())

[5 6 0 1 2 3 4]

In [220]:
data2 = pd.concat([x_train,y_train],axis=1)

In [221]:
print(data2.groupby(['year'])['count'].sum())

year
2011     781979
2012    1303497
Name: count, dtype: int64

In [223]:
print(x_train.drop(columns = ['month']))

                 datetime  계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속  year  \
0     2011-01-01 00:00:00   1    0    0   1   9.84  14.395  81   0.0000  2011
1     2011-01-01 01:00:00   1    0    0   1   9.02  13.635  80   0.0000  2011
2     2011-01-01 02:00:00   1    0    0   1   9.02  13.635  80   0.0000  2011
3     2011-01-01 03:00:00   1    0    0   1   9.84  14.395  75   0.0000  2011
4     2011-01-01 04:00:00   1    0    0   1   9.84  14.395  75   0.0000  2011
...                   ...  ..  ...  ...  ..    ...     ...  ..      ...   ...
10881 2012-12-19 19:00:00   4    0    1   1  15.58  19.695  50  26.0027  2012
10882 2012-12-19 20:00:00   4    0    1   1  14.76  17.425  57  15.0013  2012
10883 2012-12-19 21:00:00   4    0    1   1  13.94  15.910  61  15.0013  2012
10884 2012-12-19 22:00:00   4    0    1   1  13.94  17.425  61   6.0032  2012
10885 2012-12-19 23:00:00   4    0    1   1  13.12  16.665  66   8.9981  2012

       day  hour  dayofweek
0        1     0          5
1        1     1          5
2        1     2          5
3        1     3          5
4        1     4          5
...    ...   ...        ...
10881   19    19          2
10882   19    20          2
10883   19    21          2
10884   19    22          2
10885   19    23          2

[10886 rows x 13 columns]

In [232]:
x_test['datetime'] = pd.to_datetime(x_test['datetime'])
x_test['year'] = x_test['datetime'].dt.year
x_test['hour'] = x_test['datetime'].dt.hour

In [238]:
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train,y_train, test_size = 0.2 ,random_state =10)

In [225]:
print(X_TRAIN.shape)

(8708, 14)

In [227]:
print(X_TEST.shape)

(2178, 14)

In [240]:
print(Y_TRAIN.shape)

(8708, 1)

In [237]:
y_train.drop(columns =['datetime'],inplace=True)

In [239]:
Y_TRAIN

       count
7038     202
4114     126
5720     154
3219      17
10711    561
...      ...
9372     317
7291       2
1344      93
7293     136
1289     174

[8708 rows x 1 columns]

In [241]:
from xgboost import XGBRegressor

In [250]:
#X_TRAIN.drop(columns=['datetime'],inplace=True)
X_TEST.drop(columns=['datetime'],inplace=True)

In [251]:
X_TEST

       계절  공휴일  근무일  날씨     온도    체감온도  습도       풍속  year  month  day  hour
8686    3    0    0   1  29.52  34.850  77  11.0014  2012      8    4     7
8453    3    0    1   2  32.80  35.605  38   0.0000  2012      7   13    14
10419   4    0    1   1  18.04  21.970  54  16.9979  2012     11   19    13
3192    3    0    1   2  31.98  37.120  59  11.0014  2011      8    2    22
176     1    0    0   1   8.20   8.335  32  30.0026  2011      1    8    15
...    ..  ...  ...  ..    ...     ...  ..      ...   ...    ...  ...   ...
9309    3    0    1   1  18.86  22.725  77   7.0015  2012      9   11     6
322     1    0    1   2   6.56  11.365  69   0.0000  2011      1   14    22
7168    2    0    1   1  26.24  31.060  57  11.0014  2012      4   17     1
2378    2    0    1   1  26.24  30.305  65   6.0032  2011      6    7     0
10259   4    1    0   3  22.14  25.760  73  15.0013  2012     11   12    21

[2178 rows x 12 columns]

In [252]:
model = XGBRegressor(n_estimators = 100, max_depth = 3, random_state=10)
model.fit(X_TRAIN,Y_TRAIN)

[03:46:15] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(random_state=10)

In [254]:
model.predict(x_test)

ValueError: ignored

In [255]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from xgboost import XGBClassifier, XGBRegressor
from sklearn.metrics import r2_score,roc_auc_score,f1_score