<a href="https://colab.research.google.com/github/sumunoh/study_weekend/blob/main/%EC%9E%91%EC%97%85%ED%98%95%EC%A0%9C1%EC%9C%A0%ED%98%95_datamanim.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

In [18]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/dataq/main/mtcars.csv',index_col=0)

In [5]:
df.head()

                    mpg  cyl   disp   hp  drat  ...   qsec  vs  am  gear  carb
Mazda RX4          21.0    6  160.0  110  3.90  ...  16.46   0   1     4     4
Mazda RX4 Wag      21.0    6  160.0  110  3.90  ...  17.02   0   1     4     4
Datsun 710         22.8    4  108.0   93  3.85  ...  18.61   1   1     4     1
Hornet 4 Drive     21.4    6  258.0  110  3.08  ...  19.44   1   0     3     1
Hornet Sportabout  18.7    8  360.0  175  3.15  ...  17.02   0   0     3     2

[5 rows x 11 columns]

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
a = scaler.fit_transform(df)
b = pd.DataFrame(a, columns=df.columns)
print(len(b[b['qsec']>0.5]))

9

In [11]:
type(a)

numpy.ndarray

In [17]:
from sklearn.preprocessing import StandardScaler
a = StandardScaler()
b = a.fit_transform(df)
c = pd.DataFrame(b, columns=df.columns)
max = c['qsec'].max()
min = c['qsec'].min()
print(max,min)

2.8719855384368587 -1.9039963517625231

In [22]:
import numpy as np
df75 = df['wt'].describe()['75%']
df25 = df['wt'].describe()['25%']
iqr = df75-df25
iqr

1.02875

In [24]:
f = df['wt'].tolist()
f

[2.62,
 2.875,
 2.32,
 3.215,
 3.44,
 3.46,
 3.57,
 3.19,
 3.15,
 3.44,
 3.44,
 4.07,
 3.73,
 3.78,
 5.25,
 5.4239999999999995,
 5.345,
 2.2,
 1.615,
 1.835,
 2.465,
 3.52,
 3.435,
 3.84,
 3.845,
 1.935,
 2.14,
 1.5130000000000001,
 3.17,
 2.77,
 3.57,
 2.78]

In [25]:
outlier = []
for i in f:
  if not df25-1.5*iqr<i<df75+1.5*iqr:
    outlier.append(i)

In [26]:
outlier

[5.25, 5.4239999999999995, 5.345]

In [36]:
a = df.corr().sort_values(by='mpg',ascending=False)

In [39]:
a['mpg']

mpg     1.000000
drat    0.681172
vs      0.664039
am      0.599832
gear    0.480285
qsec    0.418684
carb   -0.550925
hp     -0.776168
disp   -0.847551
cyl    -0.852162
wt     -0.867659
Name: mpg, dtype: float64

In [48]:
df2= df.copy()

In [54]:
df['brand']= pd.DataFrame(list(df2.index.str.split(" ")))

In [55]:
df.head()

                    mpg  cyl   disp   hp  drat  ...  vs  am  gear  carb   brand
Mazda RX4          21.0    6  160.0  110  3.90  ...   0   1     4     4   Mazda
Mazda RX4 Wag      21.0    6  160.0  110  3.90  ...   0   1     4     4   Mazda
Datsun 710         22.8    4  108.0   93  3.85  ...   1   1     4     1  Datsun
Hornet 4 Drive     21.4    6  258.0  110  3.08  ...   1   0     3     1  Hornet
Hornet Sportabout  18.7    8  360.0  175  3.15  ...   0   0     3     2  Hornet

[5 rows x 12 columns]

In [ ]:
pcaDf = df.iloc[:,1:]
pcaDf = sc.fit_transform(pcaDf)

from sklearn.decomposition import PCA

componentsNum=10
pca = PCA(n_components=componentsNum) 
printcipalComponents = pca.fit_transform(pcaDf)
principalDf = pd.DataFrame(data=printcipalComponents, columns = ['component'+str(x) for x in range(componentsNum)])

componentDf = pd.DataFrame(pca.explained_variance_ratio_,columns=['cumsumVariance']).cumsum().reset_index()
componentDf['index'] +=1
componentDf=componentDf.rename(columns={'index':'componentsCount'})